<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546696160996-sm7istfeubdnhfve5otfkg1b0bf10hfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546696160996-sm7istfeubdnhfve5otfkg1b0bf10hfj</string>
	<key>API_KEY</key>
	<string>AIzaSyDVgWDkxpEBALa1IsFa2CDPEppD2aHJSoU</string>
	<key>GCM_SENDER_ID</key>
	<string>546696160996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tonylee.estelaTony3</string>
	<key>PROJECT_ID</key>
	<string>estela-tony-7a6b4</string>
	<key>STORAGE_BUCKET</key>
	<string>estela-tony-7a6b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546696160996:ios:b4e0752b102e244e37eef1</string>
	<key>DATABASE_URL</key>
	<string>https://estela-tony-7a6b4.firebaseio.com</string>
</dict>
</plist>